.NavBar button{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: white;
}

/*The container for the whole page. */
.Page{
    background: rgb(125, 179, 141);
    height: 100%;
}

/*Button for aadding new items. */
.AddButton{
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
    background: white;
    cursor: pointer;
    border: 2px solid rgb(24, 124, 54);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(24, 124, 54);
}

.AddButton:hover{
    opacity: 0.6;
}

.ProductHeadings{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.ProductItem{
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px black;
    margin: 5px;
    background: lightgrey;
    display: flex;
    justify-content: space-evenly;
    height: 34px;
}

.ProductItem input{
    width: 100px;
    text-align: center;
}

/*Tabs for the producer's different pages (i.e. "Produkter", "Statistik", ...) */
.Tabs{
    margin-top: 1000px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
    background: white;
    cursor: pointer;
    border: 2px solid rgb(24, 124, 54);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(24, 124, 54);
}

