.NavBar button{
    margin: 0 30px;
    font-family: 'Times New Roman', Times, serif;
    background: white;
}

.Page{
    background: rgb(125, 179, 141);
    height: 100%;
}

.ProductsContainer{
    
    
}

.AddButton{
    margin: 0 30px;
    font-family: 'Times New Roman', Times, serif;
    background: white;
}

.AddButton:hover{
    opacity: 0.6;
}

.ProductHeadings{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
}

.ProductItem{
    font-family: 'Times New Roman', Times, serif;
    border: solid 2px black;
    margin: 5px;
    background: lightgrey;
    display: flex;
    justify-content: space-evenly;
    height: 34px;
}

.ProductItem input{
    width: 50px;
}

.ItemName{
    width: 80px;
}
/*
.ProductItem .ItemInput{
    margin: 0 50px;
}

.ProductItem .ItemAmount {
    position: fixed;
    left: 265px;
}

.ProductItem .ItemPrice {
    position: fixed;
    right: 265px;
}*/
