* {/*border: 2px dashed black*/} 

.ConfirmationBox {
    border: 2px solid black;
    border-radius: 10px;
    background-color:rgb(151, 180, 151);
    text-align: center;
    width: 40%;
    margin: 200px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 8px;
}