/*The text field for user name. */
.TextFieldLogIn {
  position: relative;
  transition: 0.3s all;
  margin-top: 7px;
  border-radius: 4px;
  width: 100%;
  height: 35px;
}

/*The text field for password. */
.TextFieldLogInPassword {
  position: relative;
  transition: 0.3s all;
  margin-top: 7px;
  border-radius: 4px;
  width: 100%;
  height: 35px;
  -webkit-text-security: disc;
}

/*Button with the text "Skapa konto". */
.SignInButton{
  box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
  background: white;
  cursor: pointer;
  border: 2px solid rgb(24, 124, 54);
  border-radius: 5px;
  font-size: 20px;
  color: rgb(24, 124, 54);
  margin-bottom: 15px;
  position: relative;
  margin-top: 10px;
}

.SignInButton:hover{
  opacity: 0.8;
}

/*Container for the log in page*/
.LeftBox{
  margin-right: 100px;
  margin-top: 10px;
}
  