.FilterBox{
    background-color: rgba(2, 117, 31, 0.185);
    border: 2px solid black;
    border-radius: 10px;
    width: 17vw;
    height: 100vh;
}

.Label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

.IconFilter{
    height: 24px;
    margin-right: 8px;
}

.Header{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}