.FarmerInformation{
    background-color: rgba(2, 117, 31, 0.185);
    border-color: black;
    width: 40vw;
    height: 100vh;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}